.heroSection {
    background-size: cover;
    background-position: top center;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    margin: -10px;
    padding: 0;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
}

.heroContent {
    text-align: left;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin-left: 4%;
}

.heroContent h1 {
    margin: 0;
    font-size: 3rem;
}

.heroContent h2 {
    margin: 0;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .heroSection {
        height: 180px;

    .heroContent h1 {
        font-size: 2rem;
    }
    
    .heroContent h2 {
        font-size: 1rem;
    }    
}}