.NavBar {
    background-color: #0B132B;
    border-bottom: 5px solid #0B94A3;
    color: #ffffff; 
}

.NavLinkCustom {
    padding: 10px;
}
  
.Active i {
    color: #FF9F1C;
}

#NavLinkText > .NavLinkCustom {
    color: #ffffff;
}

#NavLinkText > .NavLinkCustom:hover {
    color: #FF9F1C;
}
