.ParkCard {
  border: 5px solid #0B94A3;
  margin-bottom: 20px; 
}

.ParkImage {
  width: 100%;
  height: auto;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.DataCard {
  padding: 20px;
  overflow: hidden;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.UserInfoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.AvatarWrapper {
  margin-right: 10px;
  flex-shrink: 0;
}

.UserName {
  word-break: break-word;
  font-size: 0.9rem;
  color: #000000; /* Sicherstellen, dass der Text schwarz ist */
}

.ParkIcons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.BucketIconCounter,
.StarIconCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.IconWrapper {
  display: flex;
  align-items: center;
}

.IconLabel {
  font-size: 20px;
  color: #000000;
  margin-top: 4px;
  text-align: center;
}

.SelectedBucket,
.BucketOutline {
  cursor: pointer;
}

.SelectedBucket:hover,
.BucketOutline:hover {
  color: #FF9F1C;
}

.SelectedBucket i {
  color: #FF9F1C;
}

.SelectedBucket:hover i {
  color: #0B132B;
}

.BucketOutlineIcon:hover {
  color: #FF9F1C;
}

.ParkIcons i {
  color: #0B94A3;
}

.star:hover {
  color: #0B94A3; 
  cursor: default !important;
}

.ParkButton {
  background-color: #0B132B !important;
  border-color: #0B94A3 !important;
  color: #ffffff !important;
  border-radius: 100px;
  width: 150px;
  margin: 0 30px !important;
  margin-right: 1.5rem;
}

@media (max-width: 576px) {
  .Header {
    flex-direction: column;
    align-items: flex-start;
  }

  .UserInfo {
    margin-top: 10px;
  }

  .UserInfoLink {
    flex-direction: column;
    align-items: flex-start;
  }

  .AvatarWrapper {
    margin-bottom: 5px;
  }

  .UserName {
    font-size: 0.8rem;
  }
}
