.Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Park.module.css */
.ParkImageContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.ParkImage {
  width: 100%;
  height: auto;
  display: block;
}

.DataCard {
  padding: 20px;
  overflow: hidden;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserInfo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.AuthorImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


.UserName {
  margin-left: 10px;
  color: #0B132B;
}

.Link {
  color: #0B132B;
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}

.StartOutline:hover {
  color: #FF9F1C;
}

.BucketOutline:hover,
.SelectedBucket:hover {
  color: #FF9F1C;
}

.PostBar .SelectedBucket i {
  color: #FF9F1C;
}

.BucketOutlineIcon:hover {
  color: #FF9F1C;
}

.SelectedBucket:hover i {
  color: #0B132B;
}

.PostBar i {
  color: #0B94A3;
}