.Owner {
  font-weight: bold;
  color: #000000;
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: #000000;
}


.ratingContainer {
  background-color: #FFFFFF;
  border: 5px solid #0B94A3;
  margin-top: 20px;
  padding: 20px 0;
}

.Username {
  color:  #000000;
  margin-left: 10px;
  font-weight: bold;
}

.Date {
  color: #000000;
  font-weight: bold;
}

.explanationContainer {
  border: 5px solid #0B94A3;
  padding: 10px;
  margin-top: 10px;
}

.Button {
  border: none;
  background-color: #0B94A3;
  color: #FFFFFF;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
  width: 150px;
}

.Button:hover {
  cursor: pointer;
  background-color: #FF9F1C;
  color: #000000;
}
