.Row {
    height: calc(100vh - 81px);
  }
  .Input {
    background: #ffffff;
    border: 5px solid #0B94A3;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-family: "Raleway", sans-serif;
  }

  .Input:focus {
    border-color: transparent; 
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  
  /* Link to log in form */
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }

  .Link:hover {
    color: #FF9F1C;
  }
  
  /* Link text to log in form */
  .Link span {
    color: #FF9F1C;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInColumn {
    height: 320px;
  }
  
  .SignUpColumn {
    height: 375px;
  }