/* used*/
.App {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #DFEFCA;
    min-height: 100vh;
  }

.Main {
  padding-top: 85px;
} 

/* For containers signup */
.Content {
  background-color: #002500;
  padding: 10px;
  border-radius: 2px;
  border: 5px solid #0B94A4;
}

/* Image signup */
.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}


* {
box-sizing: border-box;
}

/* text under sign in form */
a {
color: #FFFFFF;

}

a:hover {
text-decoration: none;
}

a:hover i {
color: #FF9F1C;
}

/* input filds, passwords */
input[type="file"] {
  display: none;
}

i {
color: #ffffff;
font-size: 1.6rem;
padding: 7px;
vertical-align: middle;
}

i:hover {
cursor: pointer;
color: #FF9F1C;
}

/*
figure {
  text-align: center;
  display: inline-block;
}
*/

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

@media (min-width: 765px) and (max-width: 995px) {
  .Main {
    padding-top: 105px;
  }
}